@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Bacasime Antique', serif;
}
#root {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-container {
  @apply flex flex-row items-center justify-center fixed z-50 w-full h-full bg-black bg-opacity-30 py-2;
}

.popup-container {
  @apply flex flex-col h-full bg-slate-100 text-black rounded-xl bg-[url(https://www.transparenttextures.com/patterns/rice-paper-3.png)]
  2xl:w-1/2
  xl:w-2/3
  lg:w-3/4
  md:w-5/6
  w-full;
}

.header-container {
  @apply flex flex-row w-full p-2 justify-end items-center bg-slate-400 bg-opacity-50 rounded-t-xl bg-[url(https://www.transparenttextures.com/patterns/rice-paper-2.png)];
}

.personal-information {
  @apply flex flex-row w-full h-full;
}

#about-txt-container p {
  @apply px-4;
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 1000ms; /* Adjust as needed */
}

.animate-fade-out {
  animation-name: fade-out;
  animation-duration: 1000ms; /* Adjust as needed */
}

.resume-nav {
  @apply flex flex-row justify-center items-center h-24 w-full bg-gray-700;
}

#resume-ul li {
  @apply text-white text-xl text-center w-1/5;
}

#resume-ul li button {
  @apply flex flex-col justify-center items-center;
}

#resume-ul li button:hover {
  @apply text-blue-200;
}

.resume-content {
  @apply flex flex-col flex-1 p-4 rounded-b-xl;
}

.contact-section {
  @apply flex flex-col flex-1 text-3xl;
}

.contact-item {
  @apply flex flex-row w-full justify-center items-center;
}

.education-section {
  @apply flex flex-col flex-1 text-black;
}

.education-item {
  @apply flex flex-row w-full h-1/2 bg-slate-100 mb-2 rounded-xl;
}

.technical-section {
  @apply flex flex-1 flex-col;
}

.technical-item {
  @apply flex flex-row w-full h-1/3 mb-2;
}

.projects-section {
  @apply flex flex-1 flex-col;
}

.projects-item {
  @apply flex flex-row w-full h-1/2;
}

.experience-section {
  @apply flex flex-1 flex-col;
}

.experience-item {
  @apply flex flex-row w-full h-2/5 mb-2;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

